@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #1b2a4b;
}
#main,
#Section1,
#score,
.icon,
.selection,
.sec1,
.circle,
.sel {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#Section1 {
  width: 40%;
  justify-content: space-between;
  border: 2px solid rgba(255, 255, 255, 0.619);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}
#title > h1 {
  font-weight: 900;
  font-size: 30px;
}
#title {
  width: 100px;
  color: white;
}
#score {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  background-color: #fcfcfc;
  flex-direction: column;
  line-height: 2;
}
#score > p {
  color: #6e7ab9;
  font-weight: 500;
}
#game-section {
  background: url(/images/bg-triangle.svg);
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 40px;
  position: relative;
  /* display: none; */
}

#paper {
  position: absolute;
  background-color: #5471f2;
  top: 15%;
  left: 20%;
}
#scissor {
  position: absolute;
  left: 70%;
  top: 15%;
  background-color: #eaa622;
}
#stone {
  position: absolute;
  top: 70%;
  left: 45%;
  background-color: #dd3d58;
}
.icon > img {
  margin: 5px;
  height: 6rem;
  border-radius: 50%;
  object-fit: contain;
  background-color: #dddddd;
  width: 6rem;
  padding: 20px;
  align-items: center;
  cursor: pointer;
}
.icon {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 20px;
  transform: translate(-50%, -50%);
}
#game-zone {
  width: 100%;
  height: 500px;
  flex-direction: column;
  display: none;
}
.selection {
  height: 70%;
  width: 100%;
  margin: 20px;
  justify-content: space-evenly;
  color: white;
}
.sec1 {
 display: flex; 
   flex-direction: column; 
  position:relative;
}
.sec1 > p {
  font-size: 30px;
  font-weight: 100;
}

#selected-paper > img,
#selected-scissor > img,
#selected-stone > img {
  height: 20rem;
  border-radius: 50%;
  object-fit: contain;
  background-color: #dddddd;
  width: 20rem;
  padding: 20px;
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
#selected-paper{
  display: flex;
  align-items: center;
  justify-content: center;
}
#selected-paper {
  background-color: #5471f2;
  
}
#selected-scissor {
  background-color: #eaa622;
}
#selected-stone {
  background-color: #dd3d58;
}
#selected-paper,
#selected-scissor,
#selected-stone {
  width: 300px;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#selected-paper > img,
#selected-scissor > img,
#selected-stone > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: contain;
}

.sel {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}
.sel > img {
  height: 200px;
}
.circle {
  margin: 15px 10px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  /* background-color: #fff; */
}
#rules {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: 2px solid black;
  padding: 20px;
  background-color: white;
  display: none;
  animation: fadeIn 0.4s ease;
}
#game-zone {
  display: flex;
  align-items: center;
  justify-content: center;
}
#game-zone > h1 {
  text-align: center;
  width: 50%;
  height: 15%;
  margin: auto;
  padding: 20px;
  background-color: white;
}
#rules-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}
#rules-1 > i {
  font-size: 30px;
  color: gray;
}
.rule-btn,
#rules-1 > i,
.resbtn {
  cursor: pointer;
}
.resbtn {
  width: 80%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: crimson;
}
.rule-btn {
  color: white;
  border-radius: 10px;
  border-color: white;
  padding: 10px 20px;
  background-color: transparent;
  position: absolute;
  right: 20px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(227, 32%, 62%);
}
